/*Estilos gerais comuns a todo o site como tamanhos e tipos de letra, cores, etc*/

:root {
    --color-main: #0092ca;
    --color-default: #222831;
    --color-hover: #393e46;
    --color-basic: #ffffff;
    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Poppins', sans-serif;
}

body {
    background-color: var(--color-basic);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    color: var(--color-default);    
}

.btn-submit {
    /*botoes de submissao dos formularios*/
}