:root {
    --color-main: #0092ca;
    --color-default: #222831;
    --color-hover: #393e46;
    --color-basic: #ffffff;
    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Open Sans', sans-serif;
}

body {
    background-color: var(--color-basic);
}

.container {
    display: flex;
}

h1 {
    color: var(--color-default);    
}

.bt-submit {
    background-color: var(--color-main);
    color: var(--color-basic);
    border: none;
    border-radius: 3px;
}