/*Estilos gerais comuns a todo o site como tamanhos e tipos de letra, cores, etc*/
:root {
    --color-main: #0092ca;
    --color-active: #1cb3ef;
    --color-default: #222831;
    --color-basic: #ffffff;
    --color-grey: #808A99;
    --color-blank: #E8F0F6;
    --font-text: 'Poppins', sans-serif;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: 5rem;
}

/* Começa aqui o código geral*/
body {
    background-color: var(--color-blank);
    font-family: var(--font-text);
    font-size: 1.07rem;
    color: var(--color-default);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: var(--color-default);
}
h2{
    font-size: 1.5rem;
}

.btn {
    padding: 0.5rem 2.5rem;
    font-family: var(--font-text);
    font-size: 0.938rem;
    font-weight: 500;
    color: var(--color-basic);
    background-color: var(--color-main);
    border-radius: 1.55rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-main);
}
.btn:hover {
    cursor: pointer;
    font-weight: 600;
    color: var(--color-main);
    background-color: var(--color-basic);
    border-color: var(--color-main);
}

/* ================= IDs dos ícones de Reply/Favorito/Share (generate_posts.php) ====================*/

#reply-icon,
#fave-icon,
#share-icon{
    fill: var(--color-grey);
}

#reply-icon:hover,
#fave-icon:hover,
#share-icon:hover {
    fill: var(--color-main);
    cursor: pointer;
}

#reply-icon:active,
#fave-icon:active,
#share-icon:active {
    fill: var(--color-active);
    cursor: pointer;
}



/* ================= PERFIL DO UTILIZADOR (profile_header.php) ====================*/

main.profile-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div.profile-cover {
    width: 100%;
    height: 18.75rem;
    overflow: hidden;
    order: 0;
    z-index: -4;
}

div.profile-cover>img {
    width: 100%;
    background-color: var(--color-blank);
    position: relative;
    top: 50%;    /* truque para centralizar a imagem. Dimensões exigidas: 850 x 400 ou proporcional */
    margin-top: -20%;    /* truque para centralizar a imagem. Dimensões exigidas: 850 x 400 ou proporcional */
    min-width: 43.5rem;
    min-height: 18.75rem;
    z-index: -3;
}

div.profile-content {
    width: 100%;
    margin: 0 auto;
    height: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;              /* Controla a posição global dos elementos */
    align-content: stretch;
}

div.profile-info {
    background-color: var(--color-basic);
}

div.profile-wrapper {
    width: inherit;
    max-width: 100rem;
    margin: inherit;
    height: inherit;
    display: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;
    align-content: inherit;
}

span.profile-avatar {
    width: 12.3rem;
    height: 12.3rem;
    margin: -5rem 0 0 3.125rem;
    order: 0;
    flex: 0 0 auto;     /* flex-grow: 0  flex-shrink: 0  flex-basis: auto; */
    align-self: auto;
    z-index: 1;
}

span.profile-avatar img {
    width: 12.3rem;
    height: 12.3rem;
    border-radius: 50%;
    border: 7px solid #fff;
}

span.profile-name {
    padding-top: 0.55rem;
    min-width: 15rem;
    order: 0;
    flex: 1 0 auto;     /* flex-grow: 1  flex-shrink: 0  flex-basis: auto; */
    align-self: auto;
    margin-left: 2.1rem;
}
span.profile-stats {
    margin-left: 2.1rem;
    order: 0;
    flex: 2 0 auto;
    align-self: auto;
    display: flex;
    flex-wrap: nowrap;
}
span.profile-stats a{
    padding-top: 0.65rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
    color: var(--color-default);
    text-decoration: none;
}
span.profile-stats a:hover{
    color: var(--color-main);
}
span.profile-stats a:active{
    background-color: var(--color-blank);
}
span.profile-stats a.focus {
    border-bottom: 0.42rem solid var(--color-main);
}
span.profile-stats span{
    color: var(--color-main);
    font-size: 1.4rem;
    font-weight: 600;
}
span.profile-btn-container {
    padding-top: 1.10rem;
    margin-left: 2.1rem;
    order: 0;
    align-items: flex-end;
    flex: 1 0 auto;    /* flex-grow: 1  flex-shrink: 1  flex-basis: auto; */
    align-self: auto;
}
span.profile-name h4,
h4.timestamp { 
    padding-right: 4rem;
    margin-top: -0.3vh;
    font-size: 0.95rem;
    font-weight: 300;
    color: var(--color-grey);
}

/* ================= POSTS DO UTILIZADOR (profile_posts.php) ====================*/

div.profile-main {
    margin-top: 1.5rem;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
/* Coluna da esquerda do perfil */
span.sidebar-col {
    margin-left: 3.125rem;
    min-width: 23.7rem;
    max-width: 29.45rem;
    order: 0;
    flex: 0 1 auto;
    flex-wrap: nowrap;
}
/*Caixas de conteúdo na coluna esquerda*/
div.sidebar-box {
    width: 100%;
    padding: 1.30rem 2rem;
    background-color: var(--color-basic);
    border-radius: 0.15rem;
}
div.sidebar-box h3{
    margin-top: 0;
    margin-bottom: 0.32rem;
    font-size: 1.375rem;
    font-weight: 600;
}
div.sidebar-box p{    
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--color-grey);
}
div.sidebar-box:first-child{
    margin-bottom: 1.5rem;
}
/* Galeria do utilizador */
div.gallery img{
    width: 100%;
    aspect-ratio: 1;
    max-width: 25%;
    object-fit: cover;
    /* transition: .2s ease; */
}
div.gallery img:first-child{
    border-radius: 1rem 0 0 1rem;
}
div.gallery img:last-child{
    border-radius: 0 1rem 1rem 0;
}
/* Coluna direita dos posts*/
span.posts-col {
    margin-left: 2rem;
    max-width: 60rem;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    flex-wrap: nowrap;
    margin-right: 3.125rem;
}
div.fixed-box{
    min-width: 27.5rem;
    padding: 1.30rem 2rem 1.30rem 1.30rem;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--color-basic);
    margin-bottom: 1.5rem;
}
div.post-box{
    min-width: 27.5rem;
    padding: 1.30rem 0.5rem 1.30rem 1.20rem;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--color-basic);
    margin-bottom: 1.5rem;
}

span.user-frame {
    height: 7.375rem;
    flex: 0 0 auto;
    align-self: auto;
    float: left;
}
img.avatar {
    width: 7rem;
    height: 7rem;
}
span.post-frame,
span.profile-frame{
    width: 100%;
    min-height: 9rem;
    flex: 0 1 auto;
    align-self: auto;
    margin-left: 1.6rem;
    display: inline-block;
}
span.post-frame h3,
span.profile-frame h3 {
    padding-right: 4rem;
    font-size: 1.375rem;
}
span.post-frame p,
span.profile-frame p {
    padding-right: 2.3rem;
    margin-top: 0.3rem;
   /*  padding-bottom: 1rem; */
}
.newpost_text {
    width: 100%;
    height: 5rem;
    margin: 0.3rem 0 0.8rem 0;
    padding: 0.75rem 1.25rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    border-color: #D4D4D4;
    border-radius: 1.5rem;
    resize: none;
}
.right {
    float: right;
}

div.post-interaction{
    padding-top:1rem;
    height: 1.5rem;
    color: var(--color-grey);
    display: inline-block;
}

.post-interaction span{
    font-size: 1rem;
    margin-right: 5rem;
}

input[type="file"] {
    display: none;
}
.file_upload {
    cursor: pointer;
}

/*   label {
    cursor: pointer;
    opacity: 1;
}

.media_options{
    padding: 0 0.3rem;
    position: absolute;
}

input[type="radio"] {
    cursor: pointer;
    width: 44px;
    height: 44px;
	opacity: 0;
    z-index: 3;
} */ */


/* ============= Posts: Caixas de imagens =========== */
div.picturebox{
    margin-right: 2.5rem;
    margin-top: 1rem;
    gap: 8px;
}

/* ==== Uma imagem ==== */
.pics1 img{
    width:100%;
    max-height:26rem;
    object-fit: cover;
    border-radius: 1.2rem;
}
/* ==== Duas imagens ==== */
.pics2 {
    display: flex;
}
.pics2 span{
    width: 100%;
    gap: 8px;
}
.pics2 img{
    width: 100%;
    max-height:26rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1.2rem;
}
/* ==== Três imagens ==== */
.pics3 {
    display: flex;
}
.pics3 span{
    width: 100%;
    gap: 8px;
}
.pics3 img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1.2rem;
}
.pics3 img.first{
    height:26rem;
}
.pics3 img.second{
    vertical-align: bottom;
    margin-bottom: 1px;
    height:12.95rem;
}
.pics3 img.third{
    height:12.95rem;
}
/* ==== Quatro imagens ==== */
.pics4{
    display: flex;
    flex-direction: column;
}
.pics4 span{
    width:100%;
    max-height:13rem;
    min-height:5rem;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.pics4 img{
    max-width:50%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1.2rem;
}

/* ============= Posts: Video do youtube =========== */
div.player{
    margin-top: 1rem;
    margin-right: 2.5rem;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    border-radius: 1.2rem;
    overflow: hidden;
}
div.player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* ============= Posts: Snippets de código =========== */
pre {
    max-width: 47.8rem;
    height: auto;
    overflow: auto;
    margin-top: 1rem;
    margin-right: 2.3rem;
    padding: 1.5rem;
    color: var(--color-basic);
    background-color: var(--color-default);
    tab-size: 8;
    border-radius: 1.2rem;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
}

/* ============= Posts: Links partilhados =========== */
div.linkbox{
    padding: 1rem;
    max-width: 47.8rem;
    min-height: 7rem;
    margin-top: 1rem;
    margin-right: 2.3rem;
    border-radius: 1.2rem;
    border: 1px solid #D4D4D4;
}

/* ================= USERS QUE SEGUEM O UTILIZADOR/ QUE O UTILIZADOR SEGUE (following.php) (followers.php) ====================*/

div.users-col{
    margin: 0 3.125rem 1rem 3.125rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}

div.users-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}

div.user-box{
    width: 50%;
    padding: 1.30rem 0.5rem 1.30rem 1.20rem;
    display: flex;
    flex: 1 1 auto;
    align-self: auto;
    order: 0;
    flex-wrap: nowrap;
    background-color: var(--color-basic);
    margin-bottom: 1.5rem;
    margin: 0 0.7rem 1.5rem 0.7rem;
}

/* Opções dos posts: Editar, Afixar, Copiar URL, Eliminar  */
.options {
    margin: -0.2rem 0 0 -9.5rem;
    background: var(--color-basic);
    display: none; 
    width: 12.5rem;
    list-style: none;
    border: 1px solid var(--color-main);
    z-index: 1;
}
input[type=button].li {
    cursor: pointer;
    border: none;
    text-align: left;
    display: block;
    width: 100%;
    font-size: 1.02rem;
    color: var(--color-main);
    background-color: var(--color-basic);
    padding: 0.81rem 2rem 0.81rem 1rem;
}
input[type=button].li:hover {
    color: var(--color-active);
    background-color: var(--color-blank);
}

[type="checkbox"]:checked ~ .options {
    display: block;
    position: absolute;
}
[type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position:sticky;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding-top: 0.7rem;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 5rem;
    background-color: var(--color-basic);
    z-index: 3;
}
[type="checkbox"]:not(:checked) + label:hover,
  [type="checkbox"]:checked + label:hover{
    background-color: var(--color-blank);
}